.font-min {
  font-family: 'Noto Serif JP', serif;
}

.font-en {
  font-family: 'Fjalla One', sans-serif;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6em;
  line-height: 1.5;
  text-align: left;
  color: #353535;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #06a4dd;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.6), 2px 8px 6px 4px rgba(112, 97, 31, 0.1);
          box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.6), 2px 8px 6px 4px rgba(112, 97, 31, 0.1);
}

.text-combine {
  text-combine-upright: all;
}

.font-big {
  font-size: 10rem;
}

.font-big-more {
  font-size: 15rem;
}

.hover-bottom {
  position: relative;
}

.hover-bottom:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hover-bottom::after {
  background-color: #fff;
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: 1;
}

.d-none {
  display: none !important;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

*::before,
*::after {
  z-index: -1;
}

[class^='btn-'] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid #194e02;
}

.btn__wrap li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  max-width: 320px;
  text-transform: uppercase;
  border: 1px solid #194e02;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-1 {
  color: #009da4;
  border: 1px solid #009da4;
}

.btn-1::before,
.btn-1::after,
.btn-1 span::before,
.btn-1 span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #009da4;
}

.btn-1::before {
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.btn-1::after {
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.btn-1 span::before {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.btn-1 span::after {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}

.btn-1:hover {
  color: #fff;
  border: 1px solid #cfd0ca;
}

.btn-1:hover::before {
  -webkit-transform: translate(-49%, -50%);
          transform: translate(-49%, -50%);
}

.btn-1:hover::after {
  -webkit-transform: translate(-49%, 50%);
          transform: translate(-49%, 50%);
}

.btn-1:hover span::before {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.btn-1:hover span::after {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

/*! CSS Used from: https://leosophia.co.jp/wp-content/themes/LeoSophia/css/base.css?ver=200523-5 ; media=all */
#pageTop {
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 40px;
  height: auto;
  top: 0;
  right: 105px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  color: #FFF;
  letter-spacing: 1px;
  z-index: 3;
}

#pageTop::before {
  content: "";
  width: 2px;
  height: 40px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000;
}

.scroll::before {
  -webkit-animation: scrollAnime 2s cubic-bezier(0.5, 0, 0, 1) infinite;
          animation: scrollAnime 2s cubic-bezier(0.5, 0, 0, 1) infinite;
}

#pageTop > a {
  padding-bottom: 48px;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 40px;
  color: #000;
}

#pageTop > a:hover {
  opacity: 1;
}

@-webkit-keyframes scrollAnime {
  0% {
    height: 0;
    bottom: 40px;
  }
  40% {
    height: 40px;
    bottom: 0;
  }
  60% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}

@keyframes scrollAnime {
  0% {
    height: 0;
    bottom: 40px;
  }
  40% {
    height: 40px;
    bottom: 0;
  }
  60% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}

a .hover-gradation {
  position: relative;
}

a .hover-gradation::after,
a .hover-gradation::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

a .hover-gradation::after {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  content: "MORE";
  color: #fff;
  letter-spacing: 5px;
  left: calc(50% - 24px);
  top: calc(50% - 6px);
  -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover .hover-gradation::after {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

a:hover .hover-gradation::before {
  opacity: 0.8;
  width: 100%;
}

a:hover p {
  color: #00af46;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a .hover-gradation::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#194e02), to(#00af46));
  background-image: linear-gradient(90deg, #194e02 0%, #00af46 100%);
  -webkit-transition: opacity 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), width 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), width 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
}

@media all {
  a {
    -webkit-transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1);
  }
  :after,
  :before {
    -webkit-transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
  }
  a {
    overflow: hidden;
    outline: none;
  }
  a:hover {
    text-decoration: none;
  }
  span {
    word-wrap: break-word;
    text-align: justify;
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  *:before,
  *:after {
    pointer-events: none;
  }
  #footerEntryBtn .arrow.basic {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 0;
    top: calc(100% - 40px);
  }
  .arrow.basic:before,
  .arrow.basic:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  a:hover .arrow.basic:before {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media all {
  #footerEntryBtn:hover {
    opacity: 1;
  }
  #footerEntryBtn {
    position: fixed;
    color: #fff;
    background-color: #00af46;
    z-index: 7999;
    top: 50%;
    right: 0;
    width: 45px;
    height: 20vw;
    min-height: 300px;
    max-height: 400px;
    background-image: linear-gradient(-45deg, #00abb3 0%, #00c850 75%);
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #footerEntryBtn.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #footerEntryBtn.sizing {
    width: 45px;
    height: 10vw;
    min-height: 300px;
    max-height: 400px;
  }
  #footerEntryBtn:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #ff931e;
    background-image: linear-gradient(-45deg, #ff7bac 0%, #ff931e 75%);
  }
  #footerEntryBtn:hover:before {
    opacity: 1;
  }
  #footerEntryBtn .text {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 5px;
  }
  #footerEntryBtn .text {
    letter-spacing: 5px;
  }
  #footerEntryBtn.sizing .text {
    letter-spacing: 3px;
  }
  .arrow.basic {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 0;
    top: calc(100% - 40px);
  }
  #joinus.sec + .sec .btnWrap.horizontal > div > .cmnBtn {
    color: #fff;
    background-image: linear-gradient(-45deg, #00abb3 0%, #00c850 75%);
    border: none;
    max-width: 618px;
  }
  .arrow.basic:before,
  .arrow.basic:after {
    background: #fff;
  }
}

@media all {
  .arrow.basic {
    width: 40px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    margin: auto;
    overflow: hidden;
    pointer-events: none;
  }
  .arrow.basic {
    top: 0;
    bottom: 0;
  }
  .arrow.basic:after {
    width: 0;
  }
}

.swiper-slide:nth-child(1) {
  background: url("../images/histry1.png") no-repeat 50% 50%;
}

.swiper-slide:nth-child(2) {
  background: url("../images/histry2.png") no-repeat 50% 50%;
}

.swiper-slide:nth-child(3) {
  background: url("../images/histry3.png") no-repeat 50% 50%;
}

.swiper-slide:nth-child(4) {
  background: url("../images/histry4.png") no-repeat 50% 50%;
}

.swiper-slide:nth-child(5) {
  background: url("../images/histry5.png") no-repeat 50% 50%;
}

.swiper-slide:nth-child(6) {
  background: url("../images/histry6.png") no-repeat 50% 50%;
}

.slider-history-wrap {
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-history-wrap .slider-history {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  overflow: hidden;
}

.slider-history-wrap .slider-history::before {
  width: 100%;
  height: 100%;
  background-color: #3c3b3a;
  content: '';
  mix-blend-mode: overlay;
  position: absolute;
  z-index: 2;
}

.slider-history-wrap .history-left {
  z-index: 5;
}

.swiper-container .swiper-slide {
  height: 50vh;
  background-size: cover;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.elements {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  z-index: 100;
}

.elements .swiper-pagination-bullet {
  width: 100%;
  height: 100%;
  border-radius: 0;
  text-align: center;
  line-height: 10vh;
  vertical-align: middle;
  opacity: 1;
  background: whitesmoke;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 2em;
}

.elements .swiper-pagination-bullet-active {
  opacity: 1;
  background: springgreen;
  -webkit-transition: background 3s ease;
  transition: background 3s ease;
}

@media only screen and (max-width: 480px) {
  .elements .swiper-pagination-bullet {
    font-size: 1.4em;
  }
}

div.aside {
  display: block;
}

.more.-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.more.-btn span {
  vertical-align: middle;
}

.more {
  color: #1a1a1a;
  cursor: pointer;
}

.more.-btn {
  border: 1px solid #e6edf1;
  border-radius: 50px;
  background: #f5f9fa;
  font-weight: 700;
}

.more.-alpha {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.more.-arw span:first-child {
  margin-left: 4px;
}

.more.-arw span:first-child {
  margin-top: -1px;
  line-height: 1.3;
}

.more.-s {
  padding: 0 1.23077em;
  height: 3.07692em;
}

.more.-s span {
  font-size: 1.2rem;
}

.more__icn {
  position: relative;
  right: 1px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.-arw .more__icn {
  border-radius: 50%;
  background: #ed338f;
  -ms-border-radius: 50%;
}

.more__icn:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://www.shinkawa.co.jp/top/assets/img/arw.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.-arw .more__icn:after {
  background-image: url(https://www.shinkawa.co.jp/top/assets/img/arw-w.svg);
}

.line {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.line:after,
.line:before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgba(26, 26, 26, 0.7);
  content: "";
}

.line:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.line:after {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.line.-none:before {
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.line.-none:after {
  display: none;
}

.line.-white:after,
.line.-white:before {
  background: #fff;
}

.cvBtn {
  position: relative;
  overflow: hidden;
  background: #001833;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.cvBtn:after,
.cvBtn:before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 50%;
  content: "";
}

.cvBtn:before {
  left: 0;
  background: #003978;
}

.cvBtn:after {
  right: 0;
  background-color: #00275e;
}

.cvBtn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.cvBtn__list.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cvBtn__item {
  position: relative;
  z-index: 2;
}

.cvBtn__item:before {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: repeat;
  content: "";
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.cvBtn__item:first-child:before {
  background-color: #004697;
  background-image: url(https://www.shinkawa.co.jp/top/assets/img/logo-bg-light.jpg);
  background-size: 120px auto;
}

.cvBtn__item:last-child:before {
  background-color: #003978;
  background-image: url(https://www.shinkawa.co.jp/top/assets/img/bg.gif);
}

.cvBtn__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.cvBtn__title {
  margin-top: .21429em;
  font-weight: 500;
  font-size: 2.8rem;
  font-family: heebo, sans-serif;
}

.cvBtn__more {
  margin-top: 2em;
}

.cvBtn__summary {
  line-height: 1.85;
}

.more.-btn {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transition-property: border, color, background, -webkit-box-shadow;
  transition-property: border, color, background, -webkit-box-shadow;
  transition-property: border, color, background, box-shadow;
  transition-property: border, color, background, box-shadow, -webkit-box-shadow;
}

.more.-btn:hover {
  border-color: #fff;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.more__icn {
  top: 0;
  margin-left: .46154em;
  width: 6px;
  height: 9px;
}

.-arw .more__icn {
  width: 13px;
  height: 13px;
}

.more:focus .more__icn:after,
.more:hover .more__icn:after,
a:focus .more .more__icn:after,
a:hover .more .more__icn:after {
  -webkit-animation: arw 1s cubic-bezier(0.78, 0.07, 0, 1) alternate;
  animation: arw 1s cubic-bezier(0.78, 0.07, 0, 1) alternate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.more:focus.-alpha,
.more:hover.-alpha,
a:focus .more.-alpha,
a:hover .more.-alpha {
  background: rgba(255, 255, 255, 0.3);
}

.line:focus:before,
.line:hover:before,
a:focus .line:before,
a:hover .line:before {
  -webkit-transition: transform 0.5s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 0.5s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.5s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.line:focus:after,
.line:hover:after,
a:focus .line:after,
a:hover .line:after {
  -webkit-transition: transform 0.5s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 0.5s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.5s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.line.-none:hover:before,
a:hover .line.-none:before {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cvBtn:after,
.cvBtn:before {
  top: 0;
  height: 100%;
}

.cvBtn__item {
  width: 50%;
  height: 30.76923em;
}

.cvBtn__item:hover:first-child:before {
  opacity: .42;
}

.cvBtn__item:hover:last-child:before {
  opacity: .5;
}

.cvBtn__item:before {
  top: 0;
  height: 100%;
}

.cvBtn__summary {
  margin-top: .92308em;
  text-align: center;
}

.cvBtn__summary {
  line-height: 1.65;
}

.more__icn {
  top: 0;
  margin-left: 5px;
  width: 4px;
  height: 7px;
}

.-arw .more__icn {
  width: 12px;
  height: 12px;
}

.cvBtn:after,
.cvBtn:before {
  bottom: 0;
  height: 101%;
}

.cvBtn__list {
  margin-right: 0;
  margin-left: 0;
}

.cvBtn__item {
  height: 46vh;
}

.cvBtn__item:before {
  bottom: 0;
  height: 110%;
}

.cvBtn__inner {
  height: 46vh;
  text-align: center;
}

.cvBtn__desc {
  position: relative;
  font-weight: 700;
  font-size: 1.9rem;
}

.cvBtn__desc:after {
  display: inline-block;
  margin-left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ed338f;
  background-image: url(https://www.shinkawa.co.jp/top/assets/img/arw-w.svg);
  background-size: 100% 100%;
  content: "";
}

.cvBtn__title {
  display: none;
}

.cvBtn__summary {
  margin-top: .83333em;
  font-size: 1.2rem;
  opacity: .75;
}

/*! CSS Used keyframes */
@-webkit-keyframes arw {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  50.01% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes arw {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  50.01% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes dotanim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes dotanim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.cover-slide-txt {
  position: relative;
  display: inline-block;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.cover-slide-txt.img-cover {
  width: 100%;
}

.cover-slide-txt::before {
  content: '';
  position: absolute;
  background-color: #00abb3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 99;
}

.cover-slide-txt.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cover-slide-txt.active::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.cover-slide-img {
  left: -100px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover-slide-img.active {
  opacity: 1;
  left: 0;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade.fade-up {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade.fade-down {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fade.fade-right {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.fade.fade-left {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.fade.fade-rotate {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(50px) rotate(365deg);
          transform: translateY(50px) rotate(365deg);
}

.fade.fade-scale {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fade.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.lr-text-anim.splitting .char {
  opacity: 0;
}

.lr-text-anim.splitting.active .char {
  -webkit-animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
          animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(60ms * var(--char-index));
          animation-delay: calc(60ms * var(--char-index));
  opacity: 1;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-3em) rotate(0) scale(5);
            transform: translateY(-3em) rotate(0) scale(5);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-3em) rotate(0) scale(5);
            transform: translateY(-3em) rotate(0) scale(5);
    opacity: 0;
  }
}

/* top
---------------------------------------------------------------------------*/
/* #img-scroll {
  width: 100%;
}

#img-scroll ul li img {
  margin: 0 5px 0 0;
} */
img {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.contents {
  margin-top: 100px;
}

.simply-scroll-container {
  position: relative;
}

.simply-scroll-clip {
  position: relative;
  overflow: hidden;
}

.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#js-slide1 {
  top: -420px;
  position: relative;
  opacity: 0;
}

#js-slide1 a {
  pointer-events: none !important;
  display: block;
  border-radius: 30px;
}

#js-slide1 a::hover {
  pointer-events: none;
}

.img-scroll {
  position: relative;
}

.js-slide li a:hover img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

/*-------------------------*/
.title-scroll p {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
}

.title-scroll p:not(:first-child) {
  margin-top: 10px;
}

.title-scroll p span {
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.title-scroll p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.title-scroll img {
  margin: 0 3px;
  opacity: 0;
  position: relative;
  top: -20px;
}

.contentsWrap {
  position: relative;
}

.copy-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.map-wrapper {
  overflow: hidden;
  position: absolute;
  width: 390px;
  height: 460px;
  right: 0;
  top: 0;
  z-index: 1;
}

.map-wrapper > .map-inner {
  position: relative;
  height: 100%;
}

.map-wrapper > .map-inner::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/map_okinawa.png);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: top right -20px;
  border-radius: 0 0 0 30px;
}

body.index .page-title-item {
  padding: 0;
  margin-top: 20px;
  background: none !important;
}

body.index .recommendseries-container .page-title-item {
  padding-left: 10px;
}

body.index .page-title-item em {
  font-size: 24px !important;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.simply-scroll-list li {
  float: left;
  width: 870px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
}

.simply-scroll-list li img {
  display: block;
  width: 100%;
}

.top__select__wrapper {
  margin-top: 50px;
}

.top__select__wrapper .top__select__inner {
  margin-bottom: 20px;
}

.top__select > li {
  height: 200px;
  width: 100%;
}

.top__select > li.top__select__inner {
  margin-bottom: 20px;
}

.top__select > li a {
  height: 100%;
  position: relative;
  display: block;
  color: #fff;
}

.top__select > li a::before, .top__select > li a::after {
  width: 100%;
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  z-index: -1;
}

.top__select > li a::after {
  background-image: none !important;
  z-index: 0;
  background-color: #000;
  opacity: 0.7;
}

.top__select > li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  width: 90%;
  font-size: 2rem;
}

.top__select > li a:hover::before, .top__select > li a:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top__select > li a:hover::after {
  opacity: 0.5;
}

.top__select.top__select1 > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.top__select.top__select1 > li a::before, .top__select.top__select1 > li a::after {
  background-image: url(../images/select1.jpg);
}

.top__select.top__select2, .top__select.top__select3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top__select.top__select2 > li, .top__select.top__select3 > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.top__select.top__select2 > li:nth-child(1) a::before, .top__select.top__select3 > li:nth-child(1) a::before, .top__select.top__select2 > li:nth-child(1) a::after, .top__select.top__select3 > li:nth-child(1) a::after {
  background-image: url(../images/select3.jpg);
}

.top__select.top__select2 > li:nth-child(2) a::before, .top__select.top__select3 > li:nth-child(2) a::before, .top__select.top__select2 > li:nth-child(2) a::after, .top__select.top__select3 > li:nth-child(2) a::after {
  background-image: url(../images/select2.jpg);
}

.top__select.top__select3 > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}

.top__select.top__select3 > li:nth-child(1) a::before, .top__select.top__select3 > li:nth-child(1) a::after {
  background-image: url(../images/select7.jpg);
}

.top__select.top__select3 > li:nth-child(2) a::before, .top__select.top__select3 > li:nth-child(2) a::after {
  background-image: url(../images/select4.jpg);
}

.top__select.top__select3 > li:nth-child(3) a::before, .top__select.top__select3 > li:nth-child(3) a::after {
  background-image: url(../images/select5.jpg);
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  top: 0;
}

.header .header__nav {
  padding-right: 50px;
  height: 8vh;
}

.header .header__logo {
  position: absolute;
  z-index: 2;
  width: 70px;
  height: 345px;
  top: 10px;
  left: 50px;
}

.header .header__logo a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: top left;
}

.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contents li a {
  position: relative;
}

.header__contents li a:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__contents li a::after {
  background-color: #00c850;
  background-image: linear-gradient(-45deg, #00abb3 0%, #00c850 75%);
  position: relative;
  position: absolute;
  content: '';
  left: 0;
  bottom: 1vh;
  height: 2px;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__contents li:not(:last-child) {
  margin-right: 50px;
}

.header__contents li a {
  display: block;
  color: #353535;
  line-height: 8vh;
}

#mainContents {
  margin-top: 8vh;
}

.section {
  margin-bottom: 100px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 {
  background-color: #00c850;
  background-image: linear-gradient(-45deg, #00abb3 0%, #00c850 75%);
  position: relative;
  padding: 50px 0;
  color: #fff;
  margin-bottom: 0;
}

.text-lr {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.section3_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.section3_inner.section3_inner2 {
  margin-top: 0;
}

.section3_inner.section3_inner3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3_inner.section3_inner3 ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 0;
}

.section__title {
  position: relative;
  display: inline-block;
  padding: 5px 20px 10px 20px;
}

.section__title::before, .section__title::after {
  content: '';
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 100%;
  background-color: #00c850;
  background-image: linear-gradient(-45deg, #00abb3 0%, #00c850 75%);
  position: relative;
  position: absolute;
}

.section__title::after {
  top: inherit;
  bottom: 0;
}

.section__title > span {
  font-size: 0.5em;
  display: block;
  text-align: center;
  letter-spacing: 0.2em;
}

.section__title-white {
  color: #fff;
}

.section__title-white::before, .section__title-white::after {
  background-color: #fff;
  z-index: 1;
  background-image: none;
}

.section2__inner, .section__title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section5__inner a {
  display: block;
  position: relative;
  height: 180px;
}

.section5__inner a::before, .section5__inner .top__select > li a::after, .top__select > li .section5__inner a::after, .section5__inner a::after {
  position: absolute;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/banner.jpg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.section5__inner a::after {
  background-image: none !important;
  z-index: 0;
  background-color: #000;
  opacity: 0.7;
}

.section5__inner a:hover::before, .section5__inner .top__select > li a:hover::after, .top__select > li .section5__inner a:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section5__inner a:hover::after {
  opacity: 0.5;
}

.section5__inner a span {
  font-size: 3rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  letter-spacing: 0.25em;
  z-index: 2;
}

.section5__inner a span.span-small {
  font-size: 1.5rem;
  top: 95%;
  margin-top: 10px;
}

.info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.info a {
  color: #353535;
}

.info__img {
  margin-bottom: 20px;
}

.info__date {
  font-weight: bold;
}

.info__title {
  line-height: 1.5;
}

.footer {
  width: 100%;
  margin-top: 150px;
  color: #fff;
}

.footer .footer__bottom {
  background-color: #009da4;
}

.footer__nav {
  background-color: #00c850;
  background-image: linear-gradient(-45deg, #00abb3 0%, #00c850 75%);
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 5vw;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav a {
  color: #fff;
}

.footer__top__inner {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20vw;
  height: 300px;
  line-height: 300px;
  position: relative;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
}

.footer__bottom__inner {
  padding: 160px 0 20px;
  margin-top: -127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer_logo {
  padding-left: 40px;
  position: relative;
}

.footer_logo::before {
  content: '';
  width: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/logo_white.png);
  top: 0;
  left: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 1;
}

.section1 > h2,
.section3_inner1 > h2 {
  font-size: 5rem;
}

.history__title {
  font-size: 5rem;
  position: absolute;
  top: -10%;
  right: 8%;
  z-index: 14;
  mix-blend-mode: screen;
  color: #fff;
}

.section4 {
  padding: 100px 0;
}

.bg-back {
  position: relative;
  height: 600px;
  background-color: #0a1f0c;
}

.bg-back::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 120%;
  top: -10%;
  content: none;
}

.map__dot {
  position: relative;
  height: 100%;
}

.map__dot ul {
  position: relative;
  height: 100%;
}

.map__dot ul li {
  position: absolute;
  display: inline-block;
  font-size: 0.5rem;
  padding-top: 10px;
  color: #b50303;
}

.map__dot ul li::before {
  -webkit-animation-name: dotanim;
          animation-name: dotanim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-name: dotanim;
  position: absolute;
  content: '';
  background-color: #b50303;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.map__dot ul li:nth-child(1) {
  top: 225px;
  left: 110px;
}

.map__dot ul li:nth-child(2) {
  bottom: 100px;
  left: 148px;
}

.map__dot ul li:nth-child(3) {
  bottom: 42px;
  right: 28px;
}

.map__dot ul li:nth-child(4) {
  top: 180px;
  left: 105px;
}

.map__dot ul li:nth-child(5) {
  top: 163px;
  left: 144px;
}

.map__dot ul li:nth-child(6) {
  bottom: 143px;
  left: 214px;
}

.history__bg__container {
  position: absolute;
  left: -23%;
}

.history__bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/history_3.png);
  width: 604px;
  height: 650px;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 505px;
}

.history__bg-2,
.history__bg-3,
.history__bg-4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/history_4.png);
  width: 604px;
  height: 650px;
  left: 130px;
  background-size: contain;
  position: absolute;
  top: 0;
  mix-blend-mode: luminosity;
  opacity: 0.5;
}

.history__bg-3 {
  left: 880px;
}

.history__bg-4 {
  left: 1255px;
}

.history__title.history__title-lr {
  right: 9%;
  bottom: 2%;
  top: auto;
}

.triangle-base, .text-bg {
  position: relative;
}

.triangle-base::before, .text-bg::before {
  position: absolute;
  content: '';
  top: -500px;
  left: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 500px 100vw;
  border-color: transparent transparent #009da4 transparent;
  z-index: -2;
}

.text-bg {
  overflow: hidden;
  height: 260px;
  z-index: -1;
  line-height: 1;
  width: 100vw;
  top: -250px;
}

.text-bg::before {
  content: 'TEZUKASHOJI';
  border-style: none;
  font-size: 30rem;
  color: #98ada433;
  top: 0;
  height: 200px;
}

.triangle-lr::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 500px;
  border-color: transparent transparent #00af46 transparent;
}
/*# sourceMappingURL=index.css.map */